body {
    background-color: f9f9f9;

}

.navbar-brand{
    font-family: 'Timothy';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 36px;
    display: flex;
    align-items: center;
}

nav {
    padding-left: 2em;
    padding-right: 2em;
}

div ul .nav-item {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
}


img{
    border-radius: 10px 10px 0px 0px;
}

.card{
    box-shadow: 0px 0px 10px rgba(165, 165, 165, 0.25);
    border-radius: 10px;
}

.card-title {
    text-align: center;
}

footer ul {
    justify-content: center;
}
